#time-and-change-body {
    display: flex;
    justify-content: center;
    font-size: 10pt;
}

.hoverbox {
	background-color: #FFFFFF;
	border: 1px solid #9FA6AD;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888888;
	color: #888888;
	display: inline-block;
	font-size: .6em;
	padding: 10px;
	position: absolute;
	visibility: hidden;
	text-align: center;
	width: 200px;
	z-index: 1;
}

.linkWrapper:hover > .hoverbox { visibility: visible; }

.ext-button {
	border: none;
	border-radius: 4px;
	color: white;
	display: inline-block;
	font-size: .9em;
	margin: 5px;
	padding: 8px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s; /* Safari */
	width: 36px;
}

.green {
	background-color: #5B9632;
}

.green:hover {
	background-color: #3A7113;
}

.red {
	background-color: #D61900;
}

.red:hover {
	background-color: #AF1400;
}

#wage-line{
    text-align: center;
    display:block;
    margin-top:1em;
    margin-bottom:1em;
}

#wage {
    width:50px;
}

.button2{
    padding: 5px;
    box-sizing: border-box;
    border-radius:10px;
    cursor:pointer;
    border: 1px solid black;
    background-color:#eee;
    display:inline-block;
}

.button:hover{
    border-color:black;
}

.split-button{
    width:50px;
    display:inline-block;
    margin-left:-4px;
    margin-right:-1px;
    border-radius:0;
}

.split-button:first-of-type{
    margin-left:0px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.split-button:last-of-type{
    margin-right:0px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

.split-button.selected{
    background-color:#ccc;
}

.split-button:not(.selected){
    box-shadow: inset -3px -2px 5px rgba(0,0,0,.5);
}

.center{
    text-align:center;
}

#time-and-change-table> tbody > tr > td+td > input{
    margin-left:1em;
    width:50px;
}

#sum-line{
	border-bottom:2px solid black;
}